@import 'tailwindcss';

@theme {
  --color-brand-50: #eff8ff;
  --color-brand-100: #dbeefe;
  --color-brand-600: #0b6bcb;
  --color-brand-700: #0a56a3;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}
